<!DOCTYPE html>
<html>

<head>
    <title>Premijer liga 22/23</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="images/handball-picture.png" />
    <meta name="description" content="Ljestvica rukometne premijer lige" />
    <meta name="author" content="Sven Balint" />
    <link rel="stylesheet" href="./styles/main.css">
</head>

<body class="centered">

    <div class="header">
        <img class="scaled-image scaled-image-fixed" src="images/handball-picture.png" alt="handball logo">
        <h1>Database</h1>
        <form method="get" action="/" class="main-button">
            <button type="submit" class="button">Home</button>
        </form>
        <h2></h2>
    </div>

    </div>
    
    <h2>Grupa A</h2>
    <br>
    <table class="tablica centered" style="text-align: center;" id="myTableA">
        <thead>
            <tr>
                <th>Plasman</th>
                <th>Klub Id</th>
                <th>Klub</th>
                <th>Odigrano</th>
                <th>Gol razlika</th>
                <th>Bodovi</th>
            </tr>
        </thead>
        <tbody>
         <% for (let red of podaciA) { %>
             <tr>
                 <td><%= red.teamplaced %></td>
                 <td><%= red.teamid %></td>
                 <td><%= red.teamname %></td>
                 <td><%= red.gamesplayed %></td>
                 <td><%= red.goalsscored %>:<%= red.goalsconceded %></td>
                 <td><%= red.points %></td>
             </tr>
         <% } %>
        </tbody>
    </table>
    </br>
    <h2>Grupa B</h2>
    <br>
    <table class="tablica centered" style="text-align: center;" id="myTableB">
        <thead>
            <tr>
                <th>Plasman</th>
                <th>Klub Id</th>
                <th>Klub</th>
                <th>Odigrano</th>
                <th>Gol razlika</th>
                <th>Bodovi</th>
            </tr>
        </thead>
        <tbody>
         <% for (let red of podaciB) { %>
             <tr>
                 <td><%= red.teamplaced %></td>
                 <td><%= red.teamid %></td>
                 <td><%= red.teamname %></td>
                 <td><%= red.gamesplayed %></td>
                 <td><%= red.goalsscored %>:<%= red.goalsconceded %></td>
                 <td><%= red.points %></td>
             </tr>
         <% } %>
        </tbody>
    </table>
    </br>

    <h2>Grupa A utakmice</h2>
    <br>
    <table class="tablica centered" style="text-align: center;" id="rezultatiA">
        <thead>
            <tr>
                <th>Kolo</th>
                <th>Id domaćina</th>
                <th>Domaćini</th>
                <th>Golovi domaćin</th>
                <th>Golovi gosti</th>
                <th>Gosti</th>
                <th>Id gostiju</th>
                <th>ID utakmice</th>
            </tr>
        </thead>
        <tbody>
         <% for (let red of podaciA2) { %>
             <tr>
                 <td><%= red.round %></td>
                 <td><%= red.team1id %></td>
                 <td style="background-color: aquamarine;"><%= red.team1name %></td>
                 <td><%= red.team1goalsscored %></td>
                 <td><%= red.team2goalsscored %></td>
                 <td style="background-color: aquamarine;"><%= red.team2name %></td>
                 <td><%= red.team2id %></td>
                 <td><%= red.matchid %></td>
             </tr>
         <% } %>
        </tbody>
    </table>
    </br>
    <h2>Grupa B utakmice</h2>
    <br>
    <table class="tablica centered" style="text-align: center;" id="rezultatiA">
        <thead>
            <tr>
                <th>Kolo</th>
                <th>Id domaćina</th>
                <th>Domaćini</th>
                <th>Golovi domaćin</th>
                <th>Golovi gosti</th>
                <th>Gosti</th>
                <th>Id gostiju</th>
                <th>ID utakmice</th>
            </tr>
        </thead>
        <tbody>
         <% for (let red of podaciB2) { %>
             <tr>
                 <td><%= red.round %></td>
                 <td><%= red.team1id %></td>
                 <td style="background-color: aquamarine;"><%= red.team1name %></td>
                 <td><%= red.team1goalsscored %></td>
                 <td><%= red.team2goalsscored %></td>
                 <td style="background-color: aquamarine;"><%= red.team2name %></td>
                 <td><%= red.team2id %></td>
                 <td><%= red.matchid %></td>
             </tr>
         <% } %>
        </tbody>
    </table>
    </br>

    <br>
    <a style="font-size: large;">Unos rezultata:</a>
    <input type="text" class="searchbar-broj" id="kolo" placeholder="Kolo">
    <input type="text" class="searchbar-broj" id="id1" placeholder="Id1">
    <input type="text" class="searchbar" id="team1" placeholder="Domaćini">
    <input type="text" class="searchbar-broj" id="team1" placeholder="Gol D">
    <input type="text" class="searchbar-broj" id="team2" placeholder="Gol G">
    <input type="text" class="searchbar" id="team2" placeholder="Gosti">
    <input type="text" class="searchbar-broj" id="id2" placeholder="Id2">
    <input type="text" class="searchbar-broj" id="sve" onkeyup="pretragaSvega()" placeholder="Pretraga po svim poljima...">
    <br>

    <div class="footer-table">
        <p style="font-family: Arial, Helvetica, sans-serif;">Creative Commons BY-SA</p>
        <p style="font-family: Arial, Helvetica, sans-serif; font-size: smaller;">Rukometna premijer liga 2022./23.</p>
    </div>
    <script src="./scripts/main.js"></script>
</body>

</html>